name: Android Release Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0' # Adjust based on your project needs
        channel: 'stable'
        cache: true

    - name: Get Dependencies
      run: flutter pub get

    # Decode the Keystore content from Secrets and save to file
    - name: Decode Keystore
      env:
        ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
      run: |
        echo "$ANDROID_KEYSTORE_BASE64" | base64 --decode > android/app/upload-keystore.jks

    # Create key.properties file using Secrets
    - name: Create key.properties
      env:
        KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
      run: |
        echo "storePassword=$KEY_STORE_PASSWORD" > android/key.properties
        echo "keyPassword=$KEY_PASSWORD" >> android/key.properties
        echo "keyAlias=$KEY_ALIAS" >> android/key.properties
        echo "storeFile=upload-keystore.jks" >> android/key.properties

    - name: Build App Bundle
      run: flutter build appbundle --release

    - name: Upload App Bundle
      uses: actions/upload-artifact@v3
      with:
        name: app-release-bundle
        path: build/app/outputs/bundle/release/app-release.aab
