name: Mobile CI

on:
  push:
    branches: [ main ]
    paths:
      - 'kheti_sahayak_app/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'kheti_sahayak_app/**'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./kheti_sahayak_app

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.x'
        channel: 'stable'
        cache: true

    - name: Install dependencies
      run: flutter pub get

    - name: Analyze
      run: flutter analyze

    - name: Run tests
      run: flutter test

    - name: Build APK (Debug)
      run: flutter build apk --debug
